# Cinepulse Local Ignored Files
# Ignore private configurations
config/config.ini

# Ignore API response cache folder
cache/

# Ignore logged seatmap snapshots
snapshots/

# Logs & Lock Files
*.log
bin/*.log
bin/.cron_running.lock

# Tarballs & Temporary Test Scripts
*.tar.gz
test_api.php
test_archive_import.php
archives/

.htaccess
public/error_log
