[api]
key = "dcdac5601d864addbc2675a2e96cb1f8"

[database]
host = "cinepluse-mysql-1"
name = "cinepulse_db"
user = "cinepulse_user"
pass = "cinepulse_password"

[email]
enabled = 0
smtp_from = "alerts@cinepulse.local"
smtp_from_name = "Cinepulse Alerts"

[admin]
password = "ms88"

[google]
client_id = "YOUR_GOOGLE_CLIENT_ID.apps.googleusercontent.com"
client_secret = "YOUR_GOOGLE_CLIENT_SECRET"
redirect_uri = "https://cinepluse.msharmarke.com/api?action=auth_google_callback"
